@charset "UTF8";
hr{
    background-color: rgb(226, 43, 43);
    box-shadow: 5px 5px 15px rgba(16, 27, 152, 0.764);
}
br{

    background-color: rgb(226, 43, 43);
    box-shadow: 5px 5px 15px rgba(16, 27, 152, 0.764);
}