@charset "UTF-8";

/* Typical Device BreakPoints
--------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Dekstop: 992px até 1200px
Grandes Telas: acima de 1200px
*/

@media screen and (min-width: 768px){ /*No minimo 768px*/
    span#burguer{
        display: none;

    }

    menu{
        display: block;
    }

    menu > ul > li { /*Para colocar um do lado do outro*/
        display: inline-block;
        
    }

    main{
        width: 768px;
    }
}